################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/YBSeedrClient/.vs/YBSeedrClient/CopilotIndices/17.14.698.11175
/YBSeedrClient/.vs/YBSeedrClient/FileContentIndex
/YBSeedrClient/obj
/SeedrClient.Tests/bin
/SeedrClient.Tests/obj
/SeedrClient.Tests/TestResults/5a6fe2fd-de8d-4170-88cd-c8c8a45b00da
/YBSeedrClient/bin/Debug/net8.0
/SeedrClient.Tests/APIInfo.cs
